

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style>
        table,th,td {
          border: 2px solid black;
        }
        .gm-control-active>img {
            box-sizing: content-box;
            display: none;
            left: 50%;
            pointer-events: none;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%)
        }
        .pullleft {
           margin-left: auto;
        }

  </style>
  </head>
  <body>

    <iframe width="700" height="650" align="right" src="http://localhost:3000/map.html"></iframe>

<table style="width:40%">
  <tr>
    <td><p>Battery Charge</p>
    <p>58%</p></td>
  </tr>
  <tr>
    <td><p>Range</p>
    <p>175 km</p></td>
  </tr>
  <tr>
    <td><p>Temperature</p>
    <p>23 C</p></td>
  </tr>
  <tr>
    <td><p>Weather</p>
    <p>Sunny</p></td>
  </tr>
</table>
  
  <br>
  
  <table style="width:40%">
  <tr>
    <td><p>south Station</p>
    <p>2.2 Rs per unit - 4 km</p>
  </td>
  </tr>
  <tr>
  <td><p>North Station</p>
    <p>
3 Rs per unit - 6 km</p>
</td>
  </tr>
</table>
    <br>
     <table style="width:40%">
  <form>
    <tr>
   <td>
    <div>
      <input id = "from" type="text" name="fname" placeholder="From"><br>
    </div></td>
  </tr>
  <tr>
   <td>
     <div>
      <input id="to" type="text" name="lname" placeholder="To"><br>
     </div></td>
  </tr>
   <tr>
   <td>
     <div>
      <button>go</button>
     </div></td>
  </tr>
  </form>
</table>
</body>

