 <form action="/details" method="POST">
      <input id = "from" type="text" name="fname" placeholder="From"><br>
      <input id="to" type="text" name="lname" placeholder="To"><br>
      <button>go</button>
</form>